.seccion-galeria-eventos__grid {
    display: flex; 
    
    overflow-x: scroll; 
    gap: 1.5rem; 
    padding-bottom: 1rem; 
    padding-left: 1rem; 
    scrollbar-width: none;     
    &::-webkit-scrollbar {     
        display: none;
    }
    
}

.galeria-item {
    flex-grow: 0;   
    width: 300px; 
    scroll-snap-align: start; 
}

.galeria-item img {
    display: block; 
    width: 100%;    
    height: 200px;  
    object-fit: cover; 
}