.galeria-historica__grid {
    display: flex;   
    overflow-x: scroll; 
    

    -ms-overflow-style: none;  
    scrollbar-width: none;     
    &::-webkit-scrollbar {     
        display: none;
    }
    flex-wrap: nowrap;   
    padding-bottom: 1rem; 
    padding-left: 1rem; 
}

.galeria-item {
    flex-shrink: 0; 

}

.galeria-item__imagen img {
    display: block; 
    width: 100%;    
    height: 200px; 
    object-fit: cover; 
}