

// Colores de la Marca
$color-primary: #bb4430;        // Azul o color principal del club
$color-secondary: #fcab10;      // Color de acento (ej: un amarillo brillante)
$color-text-dark: #231f20;         // Texto principal
$color-text-light: #7ebdc2;        // Texto sobre fondos oscuros
$color-background: #efe6dd;     // Fondo de página
$color-error: #dc3545;          // Errores o warnings

// Tipografía
$font-family-primary: 'Bebas Neue', sans-serif;
$font-family-secondary: "Oswald", sans-serif;
$font-size-base: 16px;

// Espaciado y Contenedores
$spacing-unit: 1rem;
$container-max-width: 100%;
$padding-section: 4rem 2rem;

// Breakpoints (Media Queries)
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1290px;